/* ///////////////////////////////////////////////////////////
04. Hero CSS
/////////////////////////////////////////////////////////// */
@use "../abstracts/variables" as *;
.anim-reveal-line {
  overflow: hidden;
}
.banner-area {
  overflow: hidden;
}
.single-banner {
  min-height: 700px;
  padding-bottom: 400px;
  position: relative;
  z-index: 1;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  @media #{$sm} {
    min-height: 600px;
    padding-bottom: 180px;
  }
  @media #{$xs} {
    min-height: 500px;
    padding-bottom: 100px;
  }
}
.banner-content {
  padding: 180px 0 90px;
}

.banner-content h2 {
  font-size: 80px;
  font-weight: 500;
  line-height: 1.1;
  margin-bottom: 30px;
  @media #{$lg} {
    font-size: 60px;
  }
  @media #{$sm} {
    font-size: 50px;
  }
  @media #{$xs} {
    font-size: 40px;
  }
  @media #{$xxs} {
    font-size: 30px;
  }
}
.banner-content {
  text-align: center;
}
.banner-content h2 {
  span {
    position: relative;
    z-index: 1;
    img {
      position: absolute;
      bottom: -11px;
      left: 0;
      z-index: -1;
    }
  }
}
.banner-content p {
  font-size: 18px;
  font-weight: 500;
  line-height: 30px;
  margin-bottom: 50px;
  @media #{$xs} {
    font-size: 16px;
  }
}

.banner-img {
  text-align: center;
  margin-top: -400px;
  position: relative;
  z-index: 5;
  background-color: rgba(42, 71, 65, 0.2);
  @media #{$sm} {
    margin-top: -180px;
  }
  @media #{$xs} {
    margin-top: -130px;
  }
}
.theme-btn {
  padding: 14px 40px;
  border-radius: 6px;
  background: var(--clr-theme-primary);
  color: #0f2923;
  font-size: 16px;
  font-weight: 600;
  line-height: 22px;
  display: inline-flex;
  align-items: center;
  gap: 10px;
  &:hover {
    color: #0f2923;
  }
}
