/* ///////////////////////////////////////////////////////////
04. Hero CSS
/////////////////////////////////////////////////////////// */
@use "../abstracts/variables" as *;

.choose-area {
  background-color: rgba(42, 71, 65, 0.2);
}
.choose-section {
  margin-bottom: 70px;
  display: flex;
  justify-content: center;
  @media #{$sm} {
    margin-bottom: 50px;
  }
  &-title {
    font-size: 48px;
    font-weight: 500;
    line-height: 1.2;
    background: var(--clr-theme-primary);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    max-width: max-content;
    margin-bottom: 0;
    position: relative;
    z-index: 1;
    @media #{$sm} {
      text-align: center;
      font-size: 35px;
    }
    &::before {
      position: absolute;
      left: -27px;
      top: -11px;
      width: 100%;
      height: 100%;
      content: url(../../assets/img/bg/choose-box.png);
      @media #{$sm} {
        display: none;
      }
    }
  }
}

.choose-item {
  border-radius: 4px;
  border: 1px solid var(--clr-theme-primary);
}
.choose-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  align-items: center;
}
.choose-item {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 0 20px;
  height: 60px;
  @include transition(0.3s);
}
.choose-item svg {
  color: var(--clr-theme-primary);
  @include transition(0.3s);
}
.choose-item span {
  display: block;
  color: #fff;
  font-family: $inter;
  font-size: 16px;
  font-weight: 500;
  @include transition(0.3s);
}
.choose-item:hover {
  background: var(--clr-theme-primary);
  border-color: var(--clr-theme-primary);
}
.choose-item:hover span {
  color: #fff;
}
.choose-item:hover svg {
  color: #fff;
}
