/* ///////////////////////////////////////////////////////////
04. Hero CSS
/////////////////////////////////////////////////////////// */
@use "../abstracts/variables" as *;

// support css

.support {
  &-img {
    position: absolute;
    right: 20px;
    top: 20px;
  }
  &-item {
    border-radius: 10px;
    background: #f3f8ff;
    padding: 40px 40px 40px;
    position: relative;
    z-index: 1;
    transition: all 0.3s linear 0s;
    @media #{$xs} {
      padding: 40px 35px 40px;
    }
    &:hover {
      transform: translateY(-5px);
      .support-item-icon img {
        transform: scale(1.1) translateY(-5px);
      }
    }
    &-icon {
      width: 60px;
      margin-bottom: 35px;
      height: 60px;
      img {
        width: 100%;
      }
    }
    &-content {
      h4 {
        color: #1e1e1e;
        font-size: 32px;
        font-weight: 500;
        text-transform: capitalize;
        margin-bottom: 12px;
        @media #{$xl} {
          font-size: 28px;
        }
        @media #{$lg} {
          font-size: 32px;
        }
        @media #{$md} {
          font-size: 27px;
        }
        @media #{$xxs} {
          font-size: 24px;
        }
      }
      p {
        color: #898989;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        margin-bottom: 25px;
      }
    }
    &-btn {
      display: inline-flex;
      padding: 0 18px;
      justify-content: center;
      align-items: center;
      border-radius: 4px;
      border: 1px solid #bfdaff;
      color: #6da7f8;
      font-size: 16px;
      font-weight: 500;
      text-transform: capitalize;
      line-height: 1;
      height: 40px;
      background-color: transparent;
      &:hover {
        background-color: #6da7f8;
        color: #fff;
        border-color: transparent;
      }
      &.s-btn-2 {
        color: #2dbe8b;
        border-color: #62ecbc;
        &:hover {
          background-color: #2dbe8b;
          color: #fff;
          border-color: transparent;
        }
      }
      &.s-btn-3 {
        color: #bc79b8;
        border-color: #ffc1fb;
        &:hover {
          background-color: #bc79b8;
          color: #fff;
          border-color: transparent;
        }
      }
    }
  }
  &-item-2 {
    background-color: #d8fdf0;
  }
  &-item-3 {
    background-color: #fff0fe;
  }
}
