/* ///////////////////////////////////////////////////////////
19. error
/////////////////////////////////////////////////////////// */
@use "../abstracts/variables" as *;

.zq_error-content h2 {
  color: rgb(255, 255, 255);
  font-family: Outfit;
  font-size: 44px;
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: -1px;
  margin-bottom: 23px;
  @media #{$lg} {
    font-size: 38px;
  }
  @media #{$md} {
    font-size: 36px;
  }
  @media #{$xs} {
    font-size: 34px;
  }
  @media #{$xxs} {
    font-size: 28px;
  }
}
.zq_error-wrap img {
  margin-bottom: 45px;
}
.zq_error-content p {
  color: rgba(255, 255, 255, 0.7);
  font-family: Inter;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  margin-bottom: 33px;
  @media #{$md} {
    br {
      display: none;
    }
  }
  @media #{$sm} {
    font-size: 16px;
  }
}
.zq_error-area {
  position: relative;
  z-index: 1;
}
.zq_error-area::before {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  content: "";
  width: 329px;
  height: 329px;
  border-radius: 50%;
  filter: blur(400px);
  background: rgba(138, 241, 53, 0.7);
  z-index: -1;
}

.zq_error-wrap {
  @media #{$lg} {
    margin-left: 15%;
    margin-right: 15%;
  }
  @media #{$sm} {
    margin-left: 10%;
    margin-right: 10%;
  }
  @media #{$xs} {
    margin-left: 5%;
    margin-right: 5%;
  }
}
