/* ///////////////////////////////////////////////////////////
18. video
/////////////////////////////////////////////////////////// */
@use "../abstracts/variables" as *;

.zq_video-img {
  position: relative;
  z-index: 1;
  img {
    min-height: 370px;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
.zq_video-img::before {
  position: absolute;
  left: 0;
  top: 0;
  content: "";
  width: 100%;
  height: 100%;
  background: rgba(138, 241, 53, 0.25);
  z-index: 1;
}
.zq_video-img-icon {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 96px;
  height: 96px;
  background-color: var(--clr-common-black);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
  font-size: 22px;
  color: var(--clr-theme-primary);
  &::after,
  &::before {
    position: absolute;
    left: 0;
    top: 0;
    content: "";
    border-radius: 50%;
    width: 100%;
    height: 100%;
    border: 1px solid rgba(255, 255, 255, 0.4);
    animation-name: popupBtn;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
  }
  &::before {
    animation-delay: 1s;
  }
}
.zq_video-content {
  background: var(--clr-theme-primary);
  border-radius: 8px;
  padding: 40px 50px 3px;
  margin-top: -120px;
  position: relative;
  z-index: 5;
  @media #{$sm} {
    margin-top: -80px;
  }
  @media #{$xs} {
    padding: 40px 30px 3px;
  }
}
.zq_video-item-icon svg {
  width: 40px;
  color: var(--clr-common-black);
}
.zq_video-item-icon {
  margin-bottom: 29px;
}
.zq_video-item-title {
  color: rgb(15, 41, 35);
  font-size: 44px;
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: -1px;
  margin-bottom: 15px;
}
.zq_video-item p {
  color: rgb(15, 41, 35);
  font-family: Inter;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  margin-bottom: 0;
}
