<!-- choose area start -->
<section class="zq_h3_choose-area pt-95 pb-100">
  <div class="container">
    <div class="row justify-content-between align-items-center">
      <div class="col-xxl-5 col-lg-6">
        <div class="zq_h3_section-area">
          <span class="zq_h3_section-subtitle mb-20">why chose us</span>

          <h2 class="zq_h3_section-title mb-40">
            Elevate Your Software Experience with Our Expertise
          </h2>
        </div>

        <div class="zq_h3_choose-content">
          <div class="zq_h3_choose-content-item mb-25">
            <div class="zq_h3_choose-content-item-icon">
              <svg
                width="30"
                height="30"
                viewBox="0 0 30 30"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <g clip-path="url(#clip0_268_352)">
                  <path
                    d="M27.7774 8.61111C26.6663 8.61111 25.6478 8.61111 24.7219 8.61111C22.7774 8.61111 21.3885 7.22222 21.3885 5.27778C21.3885 4.25926 21.3885 3.24074 21.3885 2.22222C21.1108 2.22222 20.9256 2.22222 20.7404 2.22222C17.1293 2.22222 13.6108 2.22222 9.99966 2.22222C8.88855 2.22222 8.51818 2.59259 8.51818 3.7037C8.51818 4.25926 8.51818 4.81482 8.51818 5.37037C8.51818 6.01852 8.05522 6.48148 7.40707 6.48148C6.85151 6.38889 6.48114 5.92593 6.38855 5.27778C6.38855 4.53704 6.38855 3.7963 6.38855 3.05556C6.48114 1.38889 7.87003 0 9.5367 0C13.796 0 18.0552 0 22.4071 0C22.7774 0 23.1478 0.185185 23.4256 0.462963C25.4626 2.5 27.4997 4.53704 29.5367 6.57407C29.8145 6.85185 29.9997 7.31481 29.9997 7.59259C29.9997 13.9815 29.9997 20.2778 29.9997 26.6667C29.9997 28.5185 28.6108 29.9074 26.7589 29.9074C22.5923 29.9074 18.333 29.9074 14.1663 29.9074C13.4256 29.9074 12.87 29.4444 12.87 28.7963C12.87 28.1481 13.333 27.6852 14.1663 27.6852C18.2404 27.6852 22.3145 27.6852 26.3885 27.6852C27.4997 27.6852 27.87 27.3148 27.87 26.2037C27.87 20.463 27.87 14.8148 27.87 9.07407C27.7774 9.07407 27.7774 8.88889 27.7774 8.61111ZM23.6108 3.88889C23.4256 6.2037 23.8885 6.66667 26.1108 6.38889C25.2774 5.55556 24.4441 4.72222 23.6108 3.88889Z"
                    fill="currentColor"></path>

                  <path
                    d="M6.38855 27.2222C5.55522 28.0555 4.81448 28.7962 4.07374 29.537C3.70337 29.9074 3.333 30.1851 2.77744 29.9074C2.22189 29.7222 2.0367 29.2592 2.0367 28.7036C2.0367 25.9259 2.0367 23.1481 2.0367 20.3703C2.0367 20.0925 1.85152 19.7222 1.66633 19.537C-0.370706 17.3148 -0.741076 14.1666 0.925591 11.6666C2.49966 9.16661 5.55522 8.0555 8.333 8.98143C11.1108 9.90735 12.9626 12.5925 12.7774 15.5555C12.6848 17.037 12.0367 18.4259 11.0182 19.537C10.833 19.8148 10.6478 20.1851 10.6478 20.5555C10.6478 23.2407 10.6478 26.0185 10.6478 28.7036C10.6478 29.2592 10.5552 29.8148 9.90707 30.0925C9.25892 30.3703 8.88855 29.9999 8.51818 29.6296C7.87003 28.7036 7.22189 27.9629 6.38855 27.2222ZM10.7404 14.9999C10.7404 12.5925 8.79596 10.7407 6.38855 10.7407C4.07374 10.7407 2.12929 12.6851 2.12929 15.0925C2.12929 17.4074 4.07374 19.3518 6.38855 19.3518C8.79596 19.2592 10.7404 17.3148 10.7404 14.9999ZM4.35152 26.1111C4.44411 26.1111 4.44411 26.2036 4.5367 26.2036C4.72189 26.0185 4.90707 25.7407 5.09226 25.5555C5.18485 25.3703 5.37003 25.1851 5.55522 24.9999C6.20337 24.4444 6.66633 24.4444 7.31448 24.9999C7.68485 25.3703 8.05522 25.7407 8.51818 26.2962C8.51818 24.4444 8.51818 22.7777 8.51818 21.0185C7.12929 21.4814 5.7404 21.4814 4.35152 21.0185C4.35152 22.7777 4.35152 24.4444 4.35152 26.1111Z"
                    fill="currentColor"></path>

                  <path
                    d="M19.2589 24.6296C17.4997 24.6296 15.833 24.6296 14.0738 24.6296C13.2404 24.6296 12.7775 24.2593 12.7775 23.6111C12.7775 22.963 13.2404 22.5 13.9812 22.5C17.4071 22.5 20.9256 22.5 24.3515 22.5C24.9071 22.5 25.4627 22.6852 25.5552 23.2407C25.6478 23.6111 25.4627 24.0741 25.1849 24.3519C24.9997 24.537 24.6293 24.6296 24.2589 24.6296C22.6849 24.6296 20.9256 24.6296 19.2589 24.6296Z"
                    fill="currentColor"></path>

                  <path
                    d="M20.3704 13.8889C18.9815 13.8889 17.6852 13.8889 16.2963 13.8889C15.463 13.8889 15 13.4259 15 12.7778C15 12.1296 15.463 11.7593 16.2963 11.7593C18.9815 11.7593 21.7593 11.7593 24.4444 11.7593C25.1852 11.7593 25.7407 12.2222 25.7407 12.8704C25.7407 13.5185 25.2778 13.9815 24.4444 13.9815C23.0556 13.8889 21.6667 13.8889 20.3704 13.8889Z"
                    fill="currentColor"></path>

                  <path
                    d="M20.2778 19.2593C18.9815 19.2593 17.5926 19.2593 16.2963 19.2593C15.463 19.2593 15 18.8889 15 18.2408C15 17.5926 15.463 17.1296 16.2963 17.1296C18.9815 17.1296 21.6667 17.1296 24.3519 17.1296C25.1852 17.1296 25.6481 17.5 25.6481 18.2408C25.6481 18.8889 25.1852 19.2593 24.3519 19.2593C22.963 19.2593 21.6667 19.2593 20.2778 19.2593Z"
                    fill="currentColor"></path>

                  <path
                    d="M15.5553 8.61108C14.7219 8.61108 13.8886 8.61108 13.0553 8.61108C12.3145 8.61108 11.8516 8.14811 11.8516 7.59256C11.8516 6.94441 12.3145 6.48145 13.0553 6.48145C14.7219 6.48145 16.4812 6.48145 18.1479 6.48145C18.8886 6.48145 19.3516 6.94441 19.3516 7.59256C19.3516 8.2407 18.8886 8.61108 18.2405 8.61108C17.2219 8.61108 16.3886 8.61108 15.5553 8.61108Z"
                    fill="currentColor"></path>
                </g>
              </svg>
            </div>

            <div class="zq_h3_choose-content-item-info">
              <h4>Software Consultancy</h4>
            </div>
          </div>

          <div class="zq_h3_choose-content-item mb-25">
            <div class="zq_h3_choose-content-item-icon">
              <svg
                width="28"
                height="33"
                viewBox="0 0 28 33"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <g clip-path="url(#clip0_268_366)">
                  <path
                    d="M10.0031 32.5C10.0031 29.9813 10.0031 27.5613 10.0031 25.1413C10.0031 24.598 9.8538 24.3017 9.40601 24.0054C6.57002 22.0793 3.78378 20.1038 0.997542 18.1777C0.599508 17.8814 0.5 17.585 0.5 17.1405C0.549754 15.9552 0.5 14.7206 0.5 13.4859C0.84828 13.4859 1.09705 13.4365 1.39558 13.4365C1.6941 10.3745 3.33599 8.49774 6.42075 7.80632C4.03255 6.81857 2.98771 5.18878 3.4355 3.21328C3.83353 1.48472 5.42567 0.200649 7.26658 0.250036C9.05773 0.299424 10.6001 1.63288 10.8986 3.36145C11.1972 5.38633 10.1523 6.96673 7.86363 7.75693C10.9484 8.44835 12.64 10.3251 12.8888 13.3871C13.4859 13.3871 14.0829 13.3871 14.68 13.3871C14.9785 10.3251 16.6204 8.44835 19.7051 7.75693C17.3169 6.76918 16.3218 5.13939 16.7199 3.1639C17.1179 1.38595 18.7598 0.151261 20.6007 0.200649C22.3919 0.250036 23.9342 1.63288 24.183 3.36145C24.4815 5.38633 23.3869 6.96673 21.148 7.70754C24.2328 8.39896 25.9244 10.2757 26.2229 13.3377C26.5215 13.3377 26.7702 13.3871 27.1185 13.3871C27.1185 14.3748 27.019 15.3626 27.1185 16.3503C27.218 17.3381 26.8697 17.8814 26.0737 18.4246C23.3869 20.2026 20.75 22.1287 18.0632 23.956C17.715 24.2029 17.6155 24.4005 17.6155 24.845C17.6652 26.5242 17.6155 28.1539 17.6155 29.8825C15.1277 30.7715 12.5903 31.6111 10.0031 32.5ZM11.9435 29.8331C13.0878 29.438 14.1327 29.0923 15.2273 28.7466C15.6253 28.6478 15.7745 28.4503 15.7248 28.0552C15.675 26.6723 15.7248 25.3389 15.7248 23.956C15.7248 23.5115 15.8741 23.2646 16.2223 23.0176C18.9091 21.1903 21.5958 19.2642 24.382 17.4369C25.2279 16.8936 25.3771 16.2516 25.1781 15.3626C17.6155 15.3626 10.0528 15.3626 2.49017 15.3626C2.29115 16.2516 2.49017 16.8936 3.28624 17.4369C6.02272 19.2642 8.70945 21.1903 11.4459 23.067C11.7942 23.314 11.9435 23.5609 11.9435 24.0054C11.8937 25.9315 11.9435 27.8576 11.9435 29.8331ZM3.38575 13.4365C5.92321 13.4365 8.41092 13.4365 10.9484 13.4365C10.9484 12.0536 10.3016 11.0165 9.15724 10.2757C7.86363 9.48549 6.52026 9.48549 5.22665 10.2263C4.03255 10.9671 3.4355 12.0042 3.38575 13.4365ZM16.7199 13.4365C19.2573 13.4365 21.7451 13.4365 24.2825 13.4365C24.2825 12.0536 23.6357 10.9671 22.4914 10.2757C21.1978 9.48549 19.8046 9.48549 18.4613 10.2757C17.3169 10.9671 16.7199 12.0536 16.7199 13.4365ZM9.05773 4.00348C9.05773 2.96635 8.21191 2.12676 7.16707 2.12676C6.12223 2.12676 5.27641 2.96635 5.32616 4.05287C5.32616 5.09001 6.17198 5.92959 7.21682 5.92959C8.21191 5.8802 9.05773 5.04062 9.05773 4.00348ZM22.3919 4.05287C22.3919 3.01573 21.546 2.17615 20.5012 2.17615C19.4564 2.17615 18.6105 3.01573 18.6105 4.05287C18.6105 5.09001 19.4564 5.92959 20.5012 5.92959C21.4963 5.92959 22.3421 5.09001 22.3919 4.05287Z"
                    fill="currentColor"></path>
                </g>
              </svg>
            </div>

            <div class="zq_h3_choose-content-item-info">
              <h4>Software Development</h4>
            </div>
          </div>

          <div class="zq_h3_choose-content-item mb-25">
            <div class="zq_h3_choose-content-item-icon">
              <svg
                width="30"
                height="30"
                viewBox="0 0 30 30"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <g clip-path="url(#clip0_268_352)">
                  <path
                    d="M27.7774 8.61111C26.6663 8.61111 25.6478 8.61111 24.7219 8.61111C22.7774 8.61111 21.3885 7.22222 21.3885 5.27778C21.3885 4.25926 21.3885 3.24074 21.3885 2.22222C21.1108 2.22222 20.9256 2.22222 20.7404 2.22222C17.1293 2.22222 13.6108 2.22222 9.99966 2.22222C8.88855 2.22222 8.51818 2.59259 8.51818 3.7037C8.51818 4.25926 8.51818 4.81482 8.51818 5.37037C8.51818 6.01852 8.05522 6.48148 7.40707 6.48148C6.85151 6.38889 6.48114 5.92593 6.38855 5.27778C6.38855 4.53704 6.38855 3.7963 6.38855 3.05556C6.48114 1.38889 7.87003 0 9.5367 0C13.796 0 18.0552 0 22.4071 0C22.7774 0 23.1478 0.185185 23.4256 0.462963C25.4626 2.5 27.4997 4.53704 29.5367 6.57407C29.8145 6.85185 29.9997 7.31481 29.9997 7.59259C29.9997 13.9815 29.9997 20.2778 29.9997 26.6667C29.9997 28.5185 28.6108 29.9074 26.7589 29.9074C22.5923 29.9074 18.333 29.9074 14.1663 29.9074C13.4256 29.9074 12.87 29.4444 12.87 28.7963C12.87 28.1481 13.333 27.6852 14.1663 27.6852C18.2404 27.6852 22.3145 27.6852 26.3885 27.6852C27.4997 27.6852 27.87 27.3148 27.87 26.2037C27.87 20.463 27.87 14.8148 27.87 9.07407C27.7774 9.07407 27.7774 8.88889 27.7774 8.61111ZM23.6108 3.88889C23.4256 6.2037 23.8885 6.66667 26.1108 6.38889C25.2774 5.55556 24.4441 4.72222 23.6108 3.88889Z"
                    fill="currentColor"></path>

                  <path
                    d="M6.38855 27.2222C5.55522 28.0555 4.81448 28.7962 4.07374 29.537C3.70337 29.9074 3.333 30.1851 2.77744 29.9074C2.22189 29.7222 2.0367 29.2592 2.0367 28.7036C2.0367 25.9259 2.0367 23.1481 2.0367 20.3703C2.0367 20.0925 1.85152 19.7222 1.66633 19.537C-0.370706 17.3148 -0.741076 14.1666 0.925591 11.6666C2.49966 9.16661 5.55522 8.0555 8.333 8.98143C11.1108 9.90735 12.9626 12.5925 12.7774 15.5555C12.6848 17.037 12.0367 18.4259 11.0182 19.537C10.833 19.8148 10.6478 20.1851 10.6478 20.5555C10.6478 23.2407 10.6478 26.0185 10.6478 28.7036C10.6478 29.2592 10.5552 29.8148 9.90707 30.0925C9.25892 30.3703 8.88855 29.9999 8.51818 29.6296C7.87003 28.7036 7.22189 27.9629 6.38855 27.2222ZM10.7404 14.9999C10.7404 12.5925 8.79596 10.7407 6.38855 10.7407C4.07374 10.7407 2.12929 12.6851 2.12929 15.0925C2.12929 17.4074 4.07374 19.3518 6.38855 19.3518C8.79596 19.2592 10.7404 17.3148 10.7404 14.9999ZM4.35152 26.1111C4.44411 26.1111 4.44411 26.2036 4.5367 26.2036C4.72189 26.0185 4.90707 25.7407 5.09226 25.5555C5.18485 25.3703 5.37003 25.1851 5.55522 24.9999C6.20337 24.4444 6.66633 24.4444 7.31448 24.9999C7.68485 25.3703 8.05522 25.7407 8.51818 26.2962C8.51818 24.4444 8.51818 22.7777 8.51818 21.0185C7.12929 21.4814 5.7404 21.4814 4.35152 21.0185C4.35152 22.7777 4.35152 24.4444 4.35152 26.1111Z"
                    fill="currentColor"></path>

                  <path
                    d="M19.2589 24.6296C17.4997 24.6296 15.833 24.6296 14.0738 24.6296C13.2404 24.6296 12.7775 24.2593 12.7775 23.6111C12.7775 22.963 13.2404 22.5 13.9812 22.5C17.4071 22.5 20.9256 22.5 24.3515 22.5C24.9071 22.5 25.4627 22.6852 25.5552 23.2407C25.6478 23.6111 25.4627 24.0741 25.1849 24.3519C24.9997 24.537 24.6293 24.6296 24.2589 24.6296C22.6849 24.6296 20.9256 24.6296 19.2589 24.6296Z"
                    fill="currentColor"></path>

                  <path
                    d="M20.3704 13.8889C18.9815 13.8889 17.6852 13.8889 16.2963 13.8889C15.463 13.8889 15 13.4259 15 12.7778C15 12.1296 15.463 11.7593 16.2963 11.7593C18.9815 11.7593 21.7593 11.7593 24.4444 11.7593C25.1852 11.7593 25.7407 12.2222 25.7407 12.8704C25.7407 13.5185 25.2778 13.9815 24.4444 13.9815C23.0556 13.8889 21.6667 13.8889 20.3704 13.8889Z"
                    fill="currentColor"></path>

                  <path
                    d="M20.2778 19.2593C18.9815 19.2593 17.5926 19.2593 16.2963 19.2593C15.463 19.2593 15 18.8889 15 18.2408C15 17.5926 15.463 17.1296 16.2963 17.1296C18.9815 17.1296 21.6667 17.1296 24.3519 17.1296C25.1852 17.1296 25.6481 17.5 25.6481 18.2408C25.6481 18.8889 25.1852 19.2593 24.3519 19.2593C22.963 19.2593 21.6667 19.2593 20.2778 19.2593Z"
                    fill="currentColor"></path>

                  <path
                    d="M15.5553 8.61108C14.7219 8.61108 13.8886 8.61108 13.0553 8.61108C12.3145 8.61108 11.8516 8.14811 11.8516 7.59256C11.8516 6.94441 12.3145 6.48145 13.0553 6.48145C14.7219 6.48145 16.4812 6.48145 18.1479 6.48145C18.8886 6.48145 19.3516 6.94441 19.3516 7.59256C19.3516 8.2407 18.8886 8.61108 18.2405 8.61108C17.2219 8.61108 16.3886 8.61108 15.5553 8.61108Z"
                    fill="currentColor"></path>
                </g>
              </svg>
            </div>

            <div class="zq_h3_choose-content-item-info">
              <h4>Software as a Service (SaaS)</h4>
            </div>
          </div>

          <div class="zq_h3_choose-content-bottom pt-20">
            <a href="/contact" class="zq_theme-btn">Get Started</a>

            <div class="zq_h3_choose-content-admin">
              <img src="/assets/images/choose/h3_admin.png" alt="" />

              <h4>
                10K+

                <span>Trusted Clients</span>
              </h4>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-6">
        <div class="zq_h3_choose-img ml-45 mt-40 mt-lg-0">
          <img
            src="/assets/images/choose/h3_1.png"
            alt=""
            class="w-100 zq_h3_choose-img-inner"
          />

          <img
            src="/assets/images/choose/h3_shape-1.png"
            alt=""
            class="zq_h3_choose-img-shape-1"
          />

          <img
            src="/assets/images/choose/h3_shape-2.png"
            alt=""
            class="zq_h3_choose-img-shape-2"
          />
        </div>
      </div>
    </div>
  </div>
</section>

<!-- choose area end -->
