<!-- Start Header area -->
<header class="zq_h3_header-area">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-3 col-sm-6 col-8">
        <div class="zq_h3_header-logo">
          <a href="/"
            ><img
              style="width:100px"
              src="/assets/img/logo/wh-logo.svg"
              alt=""
            /></a
          >
        </div>
      </div>

      <div class="col-lg-6 d-none d-lg-block">
        <div class="zq_h3_header-menu">
          <nav id="mobile-menu">
            <ul>
              <li><a href="/">Home</a></li>
              <li><a href="/about">About</a></li>
              <li><a href="/blog">Blog</a></li>
              <li><a href="/services">Services</a></li>
              <li><a href="/contact">Contact</a></li>
            </ul>
          </nav>
        </div>
      </div>

      <div class="col-lg-3 col-sm-6 col-4 d-flex justify-content-end">
        <div class="zq_h3_header-action">
          <a href="/contact" class="zq_h3_header-action-btn">
            Contact Now

            <svg
              width="11"
              height="13"
              viewBox="0 0 11 11"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M1.57971 10.1668L9.55073 1.8335M9.55073 1.8335H2.37681M9.55073 1.8335V9.33349"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"></path>
            </svg>
          </a>

          <span class="zq_h5_header_icon zq_menuIcon d-lg-none"
            ><i class="fa-light fa-grid-2"></i></span
          >
        </div>
      </div>
    </div>
  </div>
</header>

<!-- end Header area -->
