<!-- hero area start -->
<section class="zq_h3_hero-area">
  <div class="zq_h3_hero-single" data-background="/assets/images/hero/h3_1.png">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-xxl-6 col-xl-8 col-lg-10">
          <div class="zq_h3_hero-content">
            <h1 class="hero-heading">Empower Your Vision</h1>

            <p>
              We provide professional services to clients that empower them to
              drive forward their vision. We have exports in various fields,
              ready to bring your idea to life.
            </p>

            <form id="emailForm" action="/contact" method="GET">
              <input
                type="email"
                name="email"
                id="emailInput"
                placeholder="Your email address"
                required
              />

              <button type="submit">
                <i class="fa-sharp fa-solid fa-paper-plane"></i>
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- hero area end -->
