<!-- map area start -->
<div class="zq_inner_map-area zq_dark_bg pb-100">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="zq_inner_map-wrap">
          <iframe
            src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d9625.957815114716!2d74.23177894776038!3d31.461207180170476!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x391902016ea1ce5d%3A0x905d6d6418d54b2c!2sRegus%20-%20Lahore%2C%20The%20Enterprise!5e0!3m2!1sen!2suk!4v1730644387566!5m2!1sen!2suk"
            width="600"
            height="450"
            style="border:0;"
            allowfullscreen=""
            loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- map area end -->
