<!-- ==================== Start mobile menu ================= -->
<div class="zq_mobile_menu">
  <div class="logo icon-img-100">
    <img src="/assets/img/logo/wh-logo.svg" width="100px" alt="" />
  </div>
  <div class="close-menu cursor-pointer ti-close">
    <i class="fa-sharp fa-light fa-xmark"></i>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-lg-2">
        <div class="menu-text">
          <div class="text">
            <h2>Menu</h2>
          </div>
        </div>
      </div>
      <div class="col-lg-7">
        <div class="menu-navbar">
          <ul class="main-menu">
            <li>
              <div class="overflow-hidden">
                <a href="/" class="link cursor-pointer dmenu"
                  ><span class="fill-text" data-text="Home">Home</span></a
                >
              </div>
            </li>
            <li>
              <div class="overflow-hidden">
                <a href="/about" class="link cursor-pointer dmenu"
                  ><span class="fill-text" data-text="About">About</span></a
                >
              </div>
            </li>
            <li>
              <div class="overflow-hidden">
                <a href="/blog" class="link cursor-pointer dmenu"
                  ><span class="fill-text" data-text="Blog">Blog</span></a
                >
              </div>
            </li>
            <li>
              <div class="overflow-hidden">
                <a href="/services" class="link cursor-pointer dmenu"
                  ><span class="fill-text" data-text="Services">Services</span
                  ></a
                >
              </div>
            </li>
            <li>
              <div class="overflow-hidden">
                <a href="/contact" class="link cursor-pointer dmenu"
                  ><span class="fill-text" data-text="Contact">Contact</span></a
                >
              </div>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="cont-info">
          <div class="item mb-50">
            <h6 class="sub-title mb-15">Address</h6>
            <h5>
              3rd Floor, The Enterprise, Multan Rd, Gopi Rai, Lahore, Punjab
              54500, Pakistan
            </h5>
          </div>

          <div class="item mb-40">
            <h6 class="sub-title mb-15">Contact Us</h6>
            <h5><a href="maito:start@fusecode.pk">start@fusecode.pk</a></h5>
            <h5 class="underline mt-10">
              <a href="tel:+704-555-0127">03098587703</a>
            </h5>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- ==================== End Navbar ==================== -->
