<!-- brand area start -->
<div class="zq_h5_brand-area pt-95 pb-100">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="zq_section-area mb-45 text-center">
          <span class="zq_section-subtitle">Our Tools</span>
        </div>
      </div>
    </div>
    <div class="swiper h3_brand-active">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="zq_h3_brand-item" style="width: 100px">
            <img src="/assets/images/brand/typescript.svg" alt="" />
          </div>
        </div>

        <div class="swiper-slide">
          <div class="zq_h3_brand-item" style="width: 100px;">
            <img src="/assets/images/brand/python.svg" alt="" />
          </div>
        </div>

        <div class="swiper-slide">
          <div class="zq_h3_brand-item" style="width: 100px;">
            <img src="/assets/images/brand/astro.svg" alt="" />
          </div>
        </div>

        <div class="swiper-slide">
          <div class="zq_h3_brand-item" style="width: 100px;">
            <img src="/assets/images/brand/dart.svg" alt="" />
          </div>
        </div>

        <div class="swiper-slide">
          <div class="zq_h3_brand-item" style="width: 100px;">
            <img src="/assets/images/brand/django.svg" alt="" />
          </div>
        </div>

        <div class="swiper-slide">
          <div class="zq_h3_brand-item" style="width: 100px;">
            <img src="/assets/images/brand/drizzle.svg" alt="" />
          </div>
        </div>
        <div class="swiper-slide">
          <div class="zq_h3_brand-item" style="width: 100px;">
            <img src="/assets/images/brand/fastapi.svg" alt="" />
          </div>
        </div>
        <div class="swiper-slide">
          <div class="zq_h3_brand-item" style="width: 100px;">
            <img src="/assets/images/brand/flutter.svg" alt="" />
          </div>
        </div>
        <div class="swiper-slide">
          <div class="zq_h3_brand-item" style="width: 100px;">
            <img src="/assets/images/brand/javascript.svg" alt="" />
          </div>
        </div>
        <div class="swiper-slide">
          <div class="zq_h3_brand-item" style="width: 100px;">
            <img src="/assets/images/brand/modular.svg" alt="" />
          </div>
        </div>
        <div class="swiper-slide">
          <div class="zq_h3_brand-item" style="width: 100px;">
            <img src="/assets/images/brand/mongodb.svg" alt="" />
          </div>
        </div>
        <div class="swiper-slide">
          <div class="zq_h3_brand-item" style="width: 100px;">
            <img src="/assets/images/brand/mongoose.svg" alt="" />
          </div>
        </div>
        <div class="swiper-slide">
          <div class="zq_h3_brand-item" style="width: 100px;">
            <img src="/assets/images/brand/nodejs.svg" alt="" />
          </div>
        </div>
        <div class="swiper-slide">
          <div class="zq_h3_brand-item" style="width: 100px;">
            <img src="/assets/images/brand/postgresql.svg" alt="" />
          </div>
        </div>
        <div class="swiper-slide">
          <div class="zq_h3_brand-item" style="width: 100px;">
            <img src="/assets/images/brand/prisma.svg" alt="" />
          </div>
        </div>
        <div class="swiper-slide">
          <div class="zq_h3_brand-item" style="width: 100px;">
            <img src="/assets/images/brand/pytorch.svg" alt="" />
          </div>
        </div>
        <div class="swiper-slide">
          <div class="zq_h3_brand-item" style="width: 100px;">
            <img src="/assets/images/brand/react.svg" alt="" />
          </div>
        </div>
        <div class="swiper-slide">
          <div class="zq_h3_brand-item" style="width: 100px;">
            <img src="/assets/images/brand/remix.svg" alt="" />
          </div>
        </div>
        <div class="swiper-slide">
          <div class="zq_h3_brand-item" style="width: 100px;">
            <img src="/assets/images/brand/tensorflow.svg" alt="" />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- brand area end -->
