<div class="container">
  <div class="my-5 py-5 d-flex flex-column text-center">
    <div>
      <h6 class="zq_h3_section-subtitle">MEET OUR PARTNERS</h6>
    </div>

    <div class="row">
      <div
        class="col-12 col-md-6 d-flex align-items-center justify-content-center"
      >
        <div style="width: 50%;">
          <a
            href="https://purpletorch.com.au"
            target="_blank"
            rel="noopener noreferrer"
          >
            <img
              src="/assets/images/partners/wh-purpletorch-full-logo.svg"
              alt="purpletorch"
              style="width: 100%;"
            />
          </a>
        </div>
      </div>

      <div
        class="col-12 col-md-6 d-flex align-items-center justify-content-center"
      >
        <div style="width: 50%;">
          <a
            href="https://redtilt.co.uk"
            target="_blank"
            rel="noopener noreferrer"
          >
            <img
              src="/assets/images/partners/wh-redtilt-full-logo.svg"
              alt="redtilt"
              style="width: 100%;"
            />
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
