 <div class="container">
        <section id="terms">
    
            <h3>1. Introduction</h3>
            <p>Welcome to FuseCode Pvt Ltd ("FuseCode," "we," "us," "our"). By accessing or using our website, you agree to be bound by these Terms & Conditions and our Privacy Policy. If you do not agree with these terms, please refrain from using our website.</p>

            <h3>2. Services Provided</h3>
            <p>FuseCode provides various digital services, including Backend Development, Frontend Development, Data Engineering, Mobile Development, Graphics Design, and UI/UX Design. These services are subject to change, and we may add or remove services at our discretion.</p>

            <h3>3. Use of Website</h3>
            <p>By using our website, you agree to:</p>
            <ul>
                <li>1. Provide accurate and complete information when filling out forms on our website.</li>
                <li>2. Use our website only for lawful purposes and not for any fraudulent or malicious activity.</li>
                <li>3. Respect the intellectual property rights of FuseCode and refrain from copying, modifying, or redistributing our content without permission.</li>
            </ul>

            <h3>4. Limitation of Liability</h3>
            <p>FuseCode will not be liable for any indirect, incidental, or consequential damages arising from your use of our website or reliance on the information provided. While we strive to maintain the accuracy of our content, we do not guarantee its completeness or reliability.</p>

            <h3>5. Communication and Feedback</h3>
            <p>When you submit information through our contact form, a representative may reach out to discuss your needs. FuseCode reserves the right to contact you in response to inquiries. All feedback or suggestions you provide become our property, and we may use them for marketing or service improvement purposes.</p>

            <h3>6. Changes to Terms & Conditions</h3>
            <p>We may update these Terms & Conditions periodically. Any changes will be posted on this page, and continued use of the website implies acceptance of the updated terms.</p>

            <h3>7. Governing Law</h3>
            <p>These Terms & Conditions are governed by and construed in accordance with the laws of Pakistan. Disputes arising from these terms will be subject to the exclusive jurisdiction of the courts in Pakistan.</p>
        </section>
    </div>


    <style>
                    
            .container {
                width: 80%;
                text-align: center;
                padding: 30px;
                }

                .container h3{
                    padding-top: 30px;
                }

                @media (max-width: 500px) {
                .container {
                    width: 90%;
            }
            
        }
    </style>