---
import ServicesLayout from "../../layouts/ServicesLayout.astro";
import MobileMenu from "../../components/MobileMenu.astro";
import ServicesHeader from "../../components/ServicesHeader.astro";
import BreadCrumb from "../../components/BreadCrumb.astro";
import ContentMarketing from "../../components/ContentMarketing.astro";
import DataDetails from "../../components/DataDetails.astro";
import Cta from "../../components/Cta.astro";
import ContactFooter from "../../components/ContactFooter.astro";
import services from "../../services.json";

const serviceDeatils = services.find(
  (service) => service.title === "Data Engineering",
);
---

<ServicesLayout title="FuseCode - Data Engineering">
  <!-- Cursor Animation -->
  <div class="cursor1"></div>
  <div class="cursor2"></div>

  <MobileMenu />

  <div class="has-smooth" id="has_smooth"></div>

  <div id="smooth-wrapper">
    <div id="smooth-content">
      <div class="body-wrapper">
        <ServicesHeader />
        <BreadCrumb pageName="Data Engineering" />
        <ContentMarketing
          content={serviceDeatils?.content}
          title={serviceDeatils?.title}
          subTitle={serviceDeatils?.subTitle}
        />
        <DataDetails />
        <Cta />
        <ContactFooter />
      </div>
    </div>
  </div>
</ServicesLayout>
